body{
    text-align: center;
    background: #dfdfdf;
}

.dropdown{

  text-align: right;

}

.row{
  text-align: left;
}

h2{
    text-align: center;
}

.rating{
  text-align: center;
}

.checked {
  color: orange;
}

.profile-pic{
  max-width: 150x;
}